<ion-header class="header">
    <span>个人中心</span>
</ion-header>
<ion-content>
    <div class="userinfo" padding>
        <img class="user-avatar" src="{{(currentUser.user&&currentUser.user.avatar)?currentUser.user.avatar:'./assets/images/default.jpeg'}}" alt="" onerror="this.src='./assets/images/default.jpeg';this.onerror=null;">
        <div margin-left>
            <p>蛋蛋号：{{currentUser.user?currentUser.user.name:""}}</p>
            <p>剩余积分：{{(currentUser.user&&currentUser.user.points)?currentUser.user.points:"0"}}</p>
        </div>
    </div>
    <ion-list class="func-list">
        <div ion-item (click)="userFunction('gamelog')">
            <div class="center-item">
                <ion-icon name="book"></ion-icon>
                <span margin-left>游戏记录</span>
            </div>
        </div>
        <div ion-item (click)="userFunction('payback')">
            <div class="center-item">
                <ion-icon name="boat"></ion-icon>
                <span margin-left>回水系统</span>
            </div>
        </div>
    </ion-list>
    <ion-list class="func-list">
        <div ion-item (click)="userFunction('useragreement')">
            <div class="center-item">
                <ion-icon name="clipboard"></ion-icon>
                <span margin-left>用户协议</span>
            </div>
        </div>
        <!--<div ion-item (click)="userFunction('feedback')">
            <div class="center-item">
                <ion-icon name="cube"></ion-icon>
                <span margin-left>意见反馈</span>
            </div>
        </div>-->
    </ion-list>
    <ion-list class="func-list">
        <!--<div ion-item (click)="userFunction('aboutus')">
            <div class="center-item">
                <ion-icon name="pin"></ion-icon>
                <span margin-left>关于我们</span>
            </div>
        </div>-->
        <div ion-item (click)="userFunction('cooperation')">
            <div class="center-item">
                <ion-icon name="ribbon"></ion-icon>
                <span margin-left>代理功能</span>
            </div>
        </div>
    </ion-list>
    <!--<ion-list class="func-list">
        <div ion-item>
            <ion-icon name="paper-plane"></ion-icon>
            <span>我要分享</span>
        </div>
        <div ion-item>
            <ion-icon name="settings"></ion-icon>
            <span>设置</span>
        </div>
    </ion-list>-->
    <ion-list class="func-list">
        <div ion-item (click)="userFunction('contactus')">
            <div class="center-item">
                <ion-icon name="at"></ion-icon>
                <span margin-left>联系我们</span>
            </div>
        </div>
    </ion-list>
</ion-content>