.user-avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
}
 .func-list{
     margin-bottom: 0;
 }
 .userinfo{
     display: flex;
     display: -webkit-flex;
     flex-direction: row;
     align-items: center;
 }
 ion-icon{
        opacity: 0.5;
 }