<ion-header class="header">
    <span>个人中心</span>
</ion-header>
<ion-content>
    <div class="userinfo" padding>
        <img class="user-avatar" src="./assets/images/default.jpeg" alt="">
        <div margin-left>
            <p>蛋蛋号：dandan8527</p>
            <p>剩余积分：987623</p>
        </div>
    </div>
    <ion-list class="func-list">
        <div ion-item (click)="userFunction('gamelog')">
            <span>游戏记录</span>
        </div>
        <div ion-item (click)="userFunction('payback')">
            <span>回水系统</span>
        </div>
    </ion-list>
    <ion-list class="func-list">
        <div ion-item>
            <span>用户协议</span>
        </div>
        <div ion-item (click)="userFunction('feedback')">
            <span>意见反馈</span>
        </div>
    </ion-list>
    <ion-list class="func-list">
        <div ion-item>
            <span>关于我们</span>
        </div>
        <div ion-item (click)="userFunction('cooperation')">
            <span>代理功能</span>
        </div>
    </ion-list>
    <ion-list class="func-list">
        <div ion-item>
            <span>我要分享</span>
        </div>
        <div ion-item>
            <span>设置</span>
        </div>
    </ion-list>
    <ion-list class="func-list">
        <div ion-item>
            <span>联系我们</span>
        </div>
    </ion-list>
</ion-content>