<div class="result-list">
    <div class="list-item-container list-header" text-center>
        <div class="issue list-item">期号</div>
        <div class="date list-item">开奖时间</div>
        <div class="result list-item">开奖结果</div>
    </div>
    <div class="list-detail">
        <div *ngIf="!loading">
            <div class="list-item-container" text-center *ngFor="let item of histories">
                <div class="issue list-item">{{item.id}}</div>
                <div class="date list-item">{{item.created_at | date: 'yyyy-MM-dd HH:mm'}}</div>
                <div *ngIf="item.result" class="result list-item">
                    <span>{{item.result_1}}</span>
                    <span>+</span>
                    <span>{{item.result_2}}</span>
                    <span>+</span>
                    <span>{{item.result_3}}</span>
                    <span>=</span>
                    <span>{{item.result}}</span>
                </div>
                <div *ngIf="!item.result" class="result list-item">
                    <span>未开奖</span>
                </div>
            </div>
        </div>
        <div margin-top *ngIf="(!histories || !histories.length) && !loading" class="list-item-container" text-center>
            <div>未找到历史数据</div>
        </div>
        <div text-center margin-top *ngIf="loading">
            <ion-spinner name="circles"></ion-spinner>
        </div>
    </div>
</div>