<ion-header class="header">
    <ion-icon class="back-btn" (click)="back()" name="arrow-back"></ion-icon>
    <span>系统公告</span>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let notify of notifies">
            <p>{{notify.title}}</p>
            <div class="img-container">
                <img *ngIf="notify.cover_img_url" src="{{notify.cover_img_url}}" alt="">
            </div>
            <div>
                {{notify.intro}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>