<ion-header class="header">
    <ion-icon class="back-btn" name="arrow-back" (click)="goBack()"></ion-icon>
    <span>游戏记录</span>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <p>重庆98</p>
            <p>
                <span>下注：800</span>
                <span float-right>2017-05-22</span>
            </p>
        </ion-item>
        <ion-item>
            <p>重庆98</p>
            <p>
                <span>下注：800</span>
                <span float-right>2017-05-22</span>
            </p>
        </ion-item>
    </ion-list>
</ion-content>