<ion-header>
    <ion-icon class="back-btn" name="arrow-back" (click)="goBack()"></ion-icon>
    <span>{{play.title}}</span>
</ion-header>
<ion-content>
    <div class="intro-container" *ngIf="play.id == 'Lucky28'">
       <iframe width="100%" height="100%" src="./assets/commonpage/lucky28intro.html" frameborder="0"></iframe>
    </div>
    <div class="intro-container" *ngIf="play.id == 'Denmark28'">
        <iframe width="100%" height="100%" src="./assets/commonpage/denmark28intro.html" frameborder="0"></iframe>
    </div>
    <div class="intro-container" *ngIf="play.id == 'Canada28'">
        <iframe width="100%" height="100%" src="./assets/commonpage/canada28intro.html" frameborder="0"></iframe>
    </div>
</ion-content>