<ion-header class="header">
    <ion-icon class="back-btn" (click)="back()" name="arrow-back"></ion-icon>
    <span>系统活动</span>
</ion-header>
<ion-content>
    <ion-list *ngIf="activities && activities.length">
        <ion-item *ngFor="let activity of activities">
            <p class="activity-title" [innerHtml]="activity.title"></p>
            <!--<div class="img-container">
                <img *ngIf="activity.cover_img_url" src="{{activity.cover_img_url}}" alt="">
            </div>-->
            <div class="activity-content" [innerHtml]="activity.content"></div>
        </ion-item>
    </ion-list>
</ion-content>