.trend-detail{
    width: 4rem;
    height: 2.5rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.nowrap{
    flex-wrap: nowrap;
}
.issue{
    width: 6rem;
    flex-shrink: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.issue-detail{
    height: 2.5rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.trend-data{
    overflow: scroll;
}
.h100{
    height: 100%;
}
.scroll-area{
    overflow: auto;
}
.scroll-body{
    height: calc(100% - 2.5rem);
}
.scroll-body-head{
    overflow-x: auto;
}

.trend-header{
    background-color: #2BA245;
    color: #fff;
}
.tag-green{
    width: 25px;
    height: 20px;
    background-color: #2BA245;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
.tag-blue{
    width: 25px;
    height: 20px;
    background-color: #387ef5;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}