<div class="trend-container">
    <ion-row class="trend-header">
        <div col-2>期号</div>
        <div col-3>开奖结果</div>
        <div col-2>大小</div>
        <div col-2>单双</div>
        <div col-3>号码</div>
    </ion-row>
    <ion-row class="trend-item" *ngFor="let item of items">
        <div col-2>{{item.issue}}</div>
        <div col-3>{{item.result}}</div>
        <div col-2>{{item.bigOrLittle}}</div>
        <div col-2>{{item.oddOrEven}}</div>
        <div col-3>{{item.num}}</div>
    </ion-row>
</div>