.room-logo{
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
}
.intro-text{
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
}
.chat-icon{
    color: #2BA245;
    font-size: 4rem;
}
.system-item{
    ion-icon{
        opacity: 0.5;
    }
}
.room-name{
    font-size: 1.7rem;
    color: #000;
}
.room-description{
    color: #bbb;
}
.center-item{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}