<ion-header class="header">
    <ion-icon class="back-btn" name="arrow-back" (click)="goBack()"></ion-icon>
    <span>意见反馈</span>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label floating>意见标题</ion-label>
        <ion-input [(ngModel)]="feedBackTitle"></ion-input>
    </ion-item>
    <ion-item margin-top>
        <ion-textarea [(ngModel)]="feedBackContent" rows="10" placeholder="请输入你的宝贵意见"></ion-textarea>
    </ion-item>
    <div text-center margin-top>
        <button class="submit-btn" ion-button (click)="feedBack()">提交</button>
    </div>
</ion-content>