<div>
    <!-- 导航 -->
    <div class="funcitems text-center">
        <a href="javascript:void(0)">
            <img class="rules" src="./assets/images/wanfa.png" />
            <p>玩法介绍</p>
        </a>
        <a href="javascript:void(0)">
            <img class="forecast" src="./assets/images/yuce.png" />
            <p>结果预测</p>
        </a>
        <a href="javascript:void(0)">
            <img class="trend" src="./assets/images/zoushi.png" />
            <p>结果走势</p>
        </a>
        <a href="javascript:void(0)">
            <img class="search" src="./assets/images/guanfang.png" />
            <p>官方查询</p>
        </a>
        <a href="javascript:void(0)">
            <img class="history" src="./assets/images/lishi.png" />
            <p>历史结果</p>
        </a>
    </div>
    <!-- 倒计时等信息 -->
    <div class="info">
        <img class="info-item trumpet-icon" src="./assets/images/laba.png">
        <span class="info-item">第XXXX期</span>
        <span class="info-item">还有XXX秒</span>
        <img class="info-item reload-icon" src="./assets/images/reload_icon.png">
        <span class="info-item refresh">刷新</span>
    </div>
    <!-- 详情 -->
    <div class="result-list">
        <div class="list-item-container list-header text-center">
            <div class="issue list-item">期号</div>
            <div class="date list-item">时间</div>
            <div class="result list-item">结果</div>
        </div>
        <div class="list-detail">
            <div class="list-item-container text-center" *ngFor="let item of listItems">
                <div class="issue list-item">{{item.issue}}</div>
                <div class="date list-item">{{item.date}}</div>
                <div class="result list-item">{{item.result}}</div>
            </div>
        </div>
    </div>
</div>