<ion-header>
    <ion-icon class="back-btn" (click)="goBack()" name="arrow-back"></ion-icon>
    <span>在线客服</span>
</ion-header>
<ion-content>
    <div class="room-msg">
        <div padding #chatArea class="chat-area">
            <chat-item [message]="msg" [right]="currentUser.user.id==msg.sender.id" (domLoad)="chatDomLoad($event)" *ngFor="let msg of roomMessages.messages;trackBy:trackFn;"></chat-item>
        </div>
        <div padding class="send-body">
            <ion-input class="send-area" [(ngModel)]="sendMsgContent"></ion-input>
            <button ion-button class="send-btn" (click)="sendMsg()">发送</button>
        </div>
    </div>
</ion-content>