<ion-header padding-horizontal>
    <ion-icon class="back-btn" name="arrow-back" (click)="goBack()"></ion-icon>
    <span>玩法介绍</span>
</ion-header>
<ion-content class="intro-list">
    <ion-list>
        <ion-item (click)="goDetailPage()">
            <span>北京98</span>
        </ion-item>
        <ion-item (click)="goDetailPage()">
            <span>重庆98</span>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item (click)="goDetailPage()">
            <span>成都98</span>
        </ion-item>
        <ion-item (click)="goDetailPage()">
            <span>加拿大98</span>
        </ion-item>
    </ion-list>
</ion-content>