
.room-msg{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat-area{
    flex: 1 1 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee;
}
.send-body{
    display: flex;
    display: -webkit-flex;
    box-shadow: 0 0 5px #aaa;
    align-items: center;
    justify-content: center;
}

.send-area{
    border: 1px solid #dadada;
    border-radius: 4px;
    height: 3rem;
}

.send-btn{
    height: 3rem;
    margin: 0;
    margin-left: 1rem;
}