<ion-header>
    <ion-icon class="back-btn" (click)="goBack()" name="arrow-back"></ion-icon>
    <span>{{currentRoom.name}}</span>
    <ion-icon class="pop-btn" name="more" (click)="actionSheets($event)"></ion-icon>
</ion-header>
<ion-content>
    <div class="room-msg">
        <div class="result-info">
            <div class="result-detail">
                <div class="current-play row" *ngIf="resultInfo.currentPlay">
                    <span>距离</span>
                    <span class="current-play-id">{{resultInfo.currentPlay ? resultInfo.currentPlay.id : ''}}</span>
                    <span>期截止</span>
                    <div class="current-play-status" padding-left>
                        <span *ngIf="resultInfo.currentPlay && resultInfo.currentPlay.status=='waiting'">{{resultInfo.currentPlay.countDown | formatTime}}</span>
                        <span *ngIf="resultInfo.currentPlay && resultInfo.currentPlay.status=='opening'">封盘中</span>
                        <span *ngIf="resultInfo.currentPlay && resultInfo.currentPlay.status=='finish'"></span>
                    </div>
                </div>
                <div class="last-play" *ngIf="resultInfo.lastPlay">
                    <span>第</span>
                    <span class="last-play-id">{{resultInfo.lastPlay.id}}</span>
                    <span>期</span>
                    <span margin-left>{{resultInfo.lastPlay.result_1}}</span>
                    <span>+</span>
                    <span>{{resultInfo.lastPlay.result_2}}</span>
                    <span>+</span>
                    <span>{{resultInfo.lastPlay.result_3}}</span>
                    <span>=</span>
                    <span>{{resultInfo.lastPlay.result}}</span>
                </div>
            </div>
            <div class="last-result">

            </div>
        </div>
        <div padding #chatArea class="chat-area">
            <chat-item [message]="msg" [right]="currentUser.user.id==msg.sender_id" (domLoad)="chatDomLoad($event)" *ngFor="let msg of roomMessages.messages;trackBy:trackFn;"></chat-item>
        </div>
        <div padding class="send-body">
            <ion-input class="send-area" [(ngModel)]="sendMsgContent"></ion-input>
            <button ion-button class="send-btn" (click)="sendMsg()">发送</button>
        </div>
    </div>
    <div #betSuccess class="bet-success">
        <ion-icon name="checkmark-circle"></ion-icon>
    </div>
    <div #betFailed class="bet-failed">
        <ion-icon name="alert"></ion-icon>
    </div>
</ion-content>